*{
    margin: 0;
}
.navbar{
    position: absolute;
    background-color: transparent;
    justify-content: space-around;
    color: white;
    align-items: center;
    display: flex;
}
.video{
    position: absolute;
    filter: brightness(50%);
    /* height: 50vh; */
    z-index: -1;
}
#a{
    color: white;
    /* justify-content: space-around; */
    column-gap: 10rem;
}
#li{
    justify-content: space-around;
}
#ul{
    /* display: flex; */
    align-items: center;
    position: absolute;
    column-gap: 10rem;
    justify-content: space-around;
    display: flex;

    
}
header{
    /* border: 1px solid white; */
    border: none;
    box-shadow: 0rem 0rem 4rem 0rem;
    width: 99.5%;
    background-color: rgba(0, 0, 0, 0.363);
    height: 10vh;


}
#a:hover{
    cursor: pointer;
    color: rgb(0, 204, 255);
}
.h1{
    color: aqua;
    /* margin-left: -30%; */
    font-size: 30px;
}
.d-block{
    height: 70vh;
    /* width: 50%; */
}
.slider{
    border: none;
    border-radius: 20rem;
}